extends layout 

block title-name 
    title Register

block layout-content 
    h1 Register 
    span(class="error") #{errorMessage}
    form(action="/register", method="post")
        label(for="username") Username:
        input(type="text", name="username", placeholder="username...", value=username required)
        br
        label(for="password") Password:
        input(type="password", name="password", placeholder="password...", value=password required)
        br
        label(for="confirmPassword") Confirm Password:
        input(type="password", name="confirmPassword", placeholder="password...", value=password required)
        br
        label(for="email") Email:
        input(type="text", name="email", placeholder="email...", value=email)
        br
        label(for="age") Age: 
        input(type="number", name="age", placeholder ="age...", value=age)
        br
        h2 Security questions 
        p Choose favorite color 
        input(type="radio", name="color", id="redA", value="red")
        label(for="red") Red
        input(type="radio", name="color", id="blueA", value="blue")
        label(for="blue") Blue
        input(type="radio", name="color", id="yellowA", value="yellow")
        label(for="yellow") Yellow
        p Choose the best drink
        input(type="radio", name="drink", id="waterA", value="water")
        label(for="water") Water
        input(type="radio", name="drink", id="sodaA", value="soda")
        label(for="soda") Soda
        input(type="radio", name="drink", id="juiceA", value="juice")
        label(for="juice") Juice
        p Fa
        input(type="radio", name="what", id="whatA", value="what")
        label(for="what") What
        input(type="radio", name="what", id="yesA", value="yes")
        label(for="yes") Yes
        input(type="radio", name="what", id="faA", value="fa")
        label(for="fa") Fa
        br
        input(type="submit", value="Register")